<html>
    <head>
        <title>Pranay's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Pranay's Blog</a></h1>
        </div>

        <div>
            <p>published: 2020-05-17, 23:29:42</p>
            <h2><a href="">Creating first Blog Site</a></h2>
            <p>Completed the first milestone to create a new app blog in Django.</p>
        </div>

        <div>
            <p>published: 2020-05-17, 23:31:28</p>
            <h2><a href="">Brain Eating</a></h2>
            <p>I am an insect that is very good at brain eating and love to eat the brains of all the animals and humans.</p>
        </div>
    </body>
</html>